.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33%;
}

.col-4 {
    width: 24%;
}

.col-5 {
    width: 20%;
}

.col-6 {
    width: 16.666%;
}

.col-7 {
    width: 14.285%;
}

.col-8 {
    width: 12.5%;
}

.col-9 {
    width: 11.11%;
}

.col-10 {
    width: 10%;
}

.col-11 {
    width: 9.090%;
}

.col-12 {
    width: 8.333%
}

.border {
    border: 1px solid var(--border-clr);
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-stretch {
    align-items:stretch;
}

