* {
    margin: 0;
    padding: 0;
}

:root {
    --white-clr: #fff;
    --black-clr: #000;
    --border-clr: #ececec;
    --bg-blue: #48afff;
    --background: #f1f3f6;
    --transparent: transparent;
}

.pro-base,
.pro-base * {
    font-size: 16px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    max-width: 100%;
    margin-inline: auto;
}

header {
    background-color: var(--bg-blue);
    padding-block: 1em;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-clr);
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img {
    width: 50%;
}

.form form {
    width: 80%;
}

form input {
    padding: 1em;
    border-radius: .4em;
    width: 100%;
    font-size: 1em;
}

.btn a {
    text-decoration-color: transparent;
    color: var(--white-clr);
    border: 1px solid var(--white-clr);
    background-color: var(--bg-blue);
    padding: 1em;
    font-weight: 600;
    border-radius: .2em;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.btn a:hover {
    color: var(--bg-blue);
    background-color: var(--white-clr);
}

.btn {
    gap: .5em;
}

.card-group {
    background-color: var(--white-clr);
    border-bottom: 1px solid var(--border-clr);
}

.card-group .row {
    justify-content: center;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration-color: var(--transparent);
    color: var(--black-clr);
    padding-block: 1em;
    border-bottom: 2px solid var(--transparent);
    transition: border-bottom .5s ease-in-out, background-color .5s ease-in-out;
}

.category-card:hover {
    background-color: var(--border-clr);
    border-bottom: 2px solid var(--bg-blue);
}

.category-card img {
    width: 30%;
}

.category-card span {
    font-size: .9em;
    margin-block-start: .7em;
}

main {
    background-color: var(--background);
}

.banner {
    padding-block: 1em;
}

.banner-bg-img {
    background-image: url(pakistan-priceoye-slider-u3dhq.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 100%;
}

.latest-wireless {
    background-image: url(section-earbuds-bg-md.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.latest-wireless .row:first-child .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.latest-wireless .row:first-child .content a {
    color: var(--white-clr);
    font-weight: 500;
    font-size: 1.2em;
    text-decoration-color: var(--transparent);
    margin-block-end: 1em;
}

.latest-wireless .row .col-4 {
    background-color: var(--white-clr);
    border: 1px solid var(--border-clr);
    display: flex;
    flex-direction: column;
    text-decoration-color: var(--transparent);
    border-radius: .4em;
    color: var(--black-clr);
    transition: transform .5s ease-in-out;
}

.latest-wireless .row .col-4:hover {
    transform: translateY(-.5em);
}

.latest-wireless .row .col-4 img {
    width: 60%;
    align-self: center;
    padding-block: 1em;
    border-radius: .4em .4em 0 0;
}

.latest-wireless .row .col-4>div {
    display: flex;
    border-top: 1px solid var(--border-clr);
    flex-direction: column;
    padding: 1em;
    line-height: 1.1em;
}

.latest-wireless .row .col-4>div div {
    margin-block-start: 1em;
    margin-block-end: .5em;
}

.latest-smart-watches {
    background-image: url(section-smart-watches-bg-md.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.latest-smart-watches .row:first-child .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.latest-smart-watches .row:first-child .content a {
    color: var(--white-clr);
    font-weight: 500;
    font-size: 1.2em;
    text-decoration-color: var(--transparent);
    margin-block-end: 1em;
}

.latest-smart-watches .row .col-4 {
    background-color: var(--white-clr);
    border: 1px solid var(--border-clr);
    display: flex;
    flex-direction: column;
    text-decoration-color: var(--transparent);
    border-radius: .4em;
    color: var(--black-clr);
    transition: transform .5s ease-in-out;
}

.latest-smart-watches .row .col-4:hover {
    transform: translateY(-.5em);
}

.latest-smart-watches .row .col-4 img {
    width: 60%;
    align-self: center;
    padding-block: 1em;
    border-radius: .4em .4em 0 0;
}

.latest-smart-watches .row .col-4>div {
    display: flex;
    border-top: 1px solid var(--border-clr);
    flex-direction: column;
    padding: 1em;
    line-height: 1.1em;
}

.latest-smart-watches .row .col-4>div div {
    margin-block-start: 1em;
    margin-block-end: .5em;
}

footer {
    background-color: var(--bg-blue);
    padding-block: 5em;
}

footer .row {
    color: var(--white-clr);
}

footer .row ul {
    list-style-type: none;
    line-height: 1.5em;
}

footer .row h2 {
    font-size: 1.5em;
    margin-block-end: 1em;
}

footer .row ul a {
    font-size: 1.2em;
    color: var(--white-clr);
    text-decoration-color: var(--transparent);
}

footer .row .img img {
    width: 50%;
    margin-block-end: 1em;
}

footer .last-row ul {
    gap: .5em;
}

footer .last-row {
    margin-block-start: 1.2em;
}

footer .last-row span {
    font-size: 1.1em;
}

footer .last-row {
    align-items: center;
}

.play-store {
    width: 200px;
    margin-block-start: 1em;
}

.static-bg-img {
    background-image: url(static-banner-bnpl-v8.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width: 100%;
}

@media (max-width: 567px) {
    .col-3 {
        justify-content: flex-start;
        margin-block-start: 1em;
        width: 100%;
        flex: 0 0 100%;
        flex-wrap: wrap;
    }

    header {
        padding: 1em;
    }

    .row {
        flex-wrap: wrap;
    }

    .col-8 {
        width: 50%;
        flex: 0 0 50%;
    }

    .banner, .static-banner{
        height: 200px;
        width: 100%;
        flex: 1 1 100%;
    }

    .latest-wireless,
    .latest-smart-watches {
        padding-inline: 1em;
    }

    .col-4 {
        width: 80%;
        margin-inline: auto;
        margin-block-end: 1em;
    }

    footer {
        padding-inline: 1em;
        padding-block: 1.5em;
    }

    .col-2 {
        width: 100%;
        flex: 0 0 100%;
        line-height: 3em;
        justify-content: flex-start;
    }

    .f-logo, .f-menu {
        width: 50%;
        flex: 0 0 50%;
        margin-block-end: 1em;
    }

}

@media (min-width: 567px) {
    .col-3 {
        justify-content: flex-start;
        margin-block-start: 1em;
        width: 100%;
        flex: 0 0 100%;
    }

    header {
        padding: 1em;
    }

    .row {
        flex-wrap: wrap;
    }

    .col-8 {
        width: 50%;
        flex: 0 0 50%;
    }
    
    .banner, .static-banner{
        height: 250px;
        width: 100%;
        flex: 1 1 100%;
    }

    .latest-wireless,
    .latest-smart-watches {
        padding-inline: 1em;
    }
    .col-4 {
        width: 45%;
        flex: 0 0 45%;
        margin-inline: auto;
        margin-block-end: 1em;
    }

    footer {
        padding-inline: 1em;
        padding-block: 1.5em;
    }

    .col-2 {
        width: 100%;
        flex: 0 0 100%;
        line-height: 3em;
    }

    .f-logo, .f-menu {
        width: 50%;
        flex: 0 0 50%;
        margin-block-end: 1em;
    }
}

@media (min-width: 768px) {
    .col-3 {
        width: 100%;
        flex: 0 0 100%;
    }

    header {
        padding: 1em;
    }
    
    .row {
        flex-wrap: wrap;
    }
    
    .col-8 {
        width: 33.33%;
        flex: 0 0 33.33%;
    }
    
    .banner, .static-banner{
        height: 350px;
        width: 100%;
        flex: 1 1 100%;
    }
    
    .latest-wireless,
    .latest-smart-watches {
        padding-inline: 1em;
    }
    
    .col-4 {
        width: 24%;
        flex: 0 0 24%;
        margin-inline: auto;
        margin-block-end: 1em;
    }

    footer {
        padding-inline: 1em;
        padding-block: 1.5em;
    }

    .col-2 {
        width: 50%;
        flex: 0 0 50%;
        line-height: 3em;
    }

    .last-row .col-2 ul {
        display: flex;
        justify-content: flex-end;
    }

    .f-logo, .f-menu {
        width: 50%;
        flex: 0 0 50%;
        margin-block-end: 1em;
    }

    .f-payment {
        width: 50%;
        flex: 0 0 50%;
    }
}

@media (min-width: 992px) {
    .col-3 {
        justify-content: flex-end;
        width: 33.33%;
        flex: 0 0 33.33%;
    }

    header {
        padding: 1em;
    }

    .row {
        flex-wrap: wrap;
    }

    .col-8 {
        width: 25%;
        flex: 0 0 25%;
    }

    .banner, .static-banner {
        height: 450px;
        width: 100%;
        flex: 1 1 100%;
    }

    .last-row .col-2 ul {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .col-3 {
        justify-content: flex-end;
        width: 30%;
        flex: 0 0 30%;
    }

    header {
        padding: 1em;
    }

    .row {
        flex-wrap: wrap;
    }

    .col-8 {
        width: 25%;
        flex: 0 0 25%;
    }
    
    .banner, .static-banner {
        height: 500px;
        width: 100%;
        flex: 1 1 100%;
    }
}

@media (min-width: 1200px) {
    .col-3 {
        justify-content: flex-end;
        width: 33.33%;
        flex: 0 0 33.33%;
    }

    header {
        padding: 1em;
    }

    .row {
        flex-wrap: wrap;
    }

    .col-8 {
        width: 12.5%;
        flex: 0 0 12.5%;
    }
}